<div class="wrapper ">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="belowLogo">Login</div>
    <div class='c'></div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" class="form">
      <input
        type="text"
        id="login"
        name="login"
        formControlName="userName"
        [(ngModel)]="userName"
        placeholder="Username"
      />
      <span class="underline"></span>
      <input
        type="text"
        id="password"
        name="login"
        formControlName="password"
        [(ngModel)]="password"
        placeholder="Password"
      />
      <span class="underline"></span>
      <button
        (click)="login()"
        type="button"
        class="button-property full-width cursor-pointer"
      >
        Submit
      </button>
    </form>
  </div>
</div>